#IMAGES
Mapty-architecture-final.png
Mapty-architecture-part-1.png
Mapty-flowchart.png

#CSS
src/css/style.scss
src/img/logo.ai
src/css/_base.scss
src/css/theme-1.scss
src/css/theme-2.scss
src/css/theme-3.scss
src/css/theme-4.scss